@use 'reset';
@use 'vars';

body {
  //  background: black;
  background-color: #111;
  font-family: sans-serif;
}

/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/
