.login-form {

  &-element {
    display: flex;
    align-items: center;
    margin: 11rem 16rem;
    padding: 15rem 10rem;
    background-color: black;
    border-radius: 3%;
    border: 2px solid #e50914;

  }

  &-message {
    margin: .3em 1em;
  }

  &-logged {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &-button {
    font-size: 1em;
    color: #e50914;
    background-color: black;
    border-radius: .3em;
    border: 0;
    padding: .7em;
    height: 2.5em;
    border: 1px solid #e50914;
  }
}
