.nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
  height: 10%;
  padding: 1rem 3rem;
  color: #fff;
  background-color: rgba($color: #000000, $alpha: 0.5) ;
  justify-content: space-between;
  z-index: 1;
  box-shadow: 0 15px 28px 3px rgba($color: #000000, $alpha: 0.6);
  @media screen and (max-width:767.98px) {
    background-color: rgba($color: #000000, $alpha: 0.8)
  }
  &__logo {
    background-color: rgba($color: #000000, $alpha: 0);
    max-width: 10rem;
    color: #e50914;
    font-weight: 900;
    font-size: 2rem;
    font-family: Georgia, serif;
  }

  &__burger {
      cursor: pointer;
      color: #fff;
      margin-right: 1rem;
      @media screen and (min-width:768px) {
        display: none;
      }
  }

  &__links{
    margin-left: 2rem;
    animation-direction: normal;
    transition: background-color .6s ease-in-out;

    .nav__link {
      text-decoration: none;
      padding: 2rem 0.5rem;
    }

    @media screen and (max-width:767.98px) {
      margin-left: 0;
      visibility: hidden;
      position: absolute;
   
       top:120%; 
       left: 0; 
      .show & {
        display: flex;
        flex-direction: column;
        visibility: visible;
        width: 30%;
        height: 20vh;
        top: 6.1rem;
        border-radius: 0% 0% 5% 5%;
        background-color: rgba($color: #000000, $alpha: 0.8)
      }
      .nav__link {
        font-size: 1.2rem;
        padding: .8rem .8rem;
        margin-left: 1.8rem;
      }
    }
  }
 &__actions{
   display: flex;
   align-items: center;
   justify-content: flex-end;
   flex: 1;
   .nav__action{
     margin-left: .3rem;
     @media screen and (min-width:768px) {
       margin-left: .5rem;
     }
   }
   
 }
  &__avatar {
    background-color: rgba($color: #000000, $alpha: 0);
    // background-color: black;
    max-width: 3rem;
   
  }

   a {
     color: #fff;
     text-decoration: none;
     margin-right: 0.5rem;
   }


}

